body{
    font-family: Arial, Helvetica, sans-serif;
   
}

.header, 
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  background-color: #1f2937;
  margin: 0px;
  
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
   
    font-family: Arial, Helvetica, sans-serif;
    color: #f9faf8;
  }

  a {
    color:lightgray;
    text-decoration: none;
    font-size: 18px;
  }
  
  .Logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
  }

  .hero_banner {
    display:flex;
    
    justify-content: space-around;
   align-items: center;
    background-color: #1f2937;
    height: 300px;
    width: auto;
    
    
  }

  .hero_banner > * {
    flex: 1;
    justify-content: space-around;  
    gap: 20px;
  }

img {
   height: 225px;
   min-height: 100%;
    
 
  }

  .left_hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin: 90px;
  width:300px;


  }

  .right_hero {
    display: flex;
  }

  .hero_text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
  }

  .hero_secondary {
    color: #e5e7eb;
    font-size: 18px;
  }

  .hero_button {
    display: flex;
    
    align-self: start;
  }
  .random {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding: 30px;
    margin: 30px;
  }
  .second_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 300px;
   
    
   

    

  }
.list_random {
    display: flex;
   margin-left: 125px;
   margin-right: 125px;
  
}
 .one {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:center;
    align-items: center;
   
  
    height: 200px;
    width: auto;
    font-size: 18px;
    color: rgb(151, 151, 151);
    text-align: center;
 }

 .third_banner {
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
    background-color: rgb(224, 224, 224);
    color: #727272;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    height: 300px;
  
 }

 .chet{

  font-weight: bold;
  color: rgb(54, 54, 54);
 }

 .fourth_banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
height: 125px;
min-width: 450px;
  border-radius: 25px;
background-color: #3882f6;
  margin: 150px;
  margin-left: 200px;
  margin-right: 200px;
 }

 .call_button {
  border-color: #e5e7eb;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  background-color: #3882f6; 
  color: #e5e7eb;
  height: 30px;
  width: auto;
}

.call {
 color: #e5e7eb;
  font-size: 30px;
  font-weight: bold;

}

.call_subtext {
  color: #e5e7eb;

}

.left_call {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer {
color: #727272;
}

